.site-logo__link {
  display: block;
  width: 103px;
  height: 56px;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.site-logo__img {
  display: inline-block;
  width: 103px;
  height: 56px;
}