.site-intro {
  // background-color: #cfcdcd;
  background-image: url(../../img/general-section.jpg);
  background-position: center 60px;
  background-repeat: no-repeat;
  background-size: 1920px 900px;
}

.site-intro__text {
  width: 545px;
  padding-top: 307px;
  padding-bottom: 147px;
}

.site-intro__info {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 21px;
}

.site-intro__heading {
  margin: 0;
  margin-bottom: 27px;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
}

.site-intro__button--wrapper {
  margin-bottom: 136px;
}

.site-intro__button {
  padding: 25px 115px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  line-height: 21px;
  color: $white;
  background-color: $blue;
  cursor: pointer;
  transition: opacity 0.3s ease;

  
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.site-intro__next-prev {
  margin-top: 136px;
  display: flex;
  align-items: center;
}

.site-intro__prev--button {
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.site-intro__next--button {
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.site-intro__prev--img {
  display: inline-block;
}

.site-intro__next--img {
  display: inline-block;
}

@include breakpoint-down (1024px) {
  .site-intro__container {
    top: 68px;
    padding-left: 30px;
  }

  .site-intro {
    background-image: url(../../img/middle-general-section.jpg);
    background-position: center 70px;
    background-repeat: no-repeat;
    background-size: 1024px 872px;
  }

  .site-intro__text {
    width: 545px;
    padding-top: 280px;
    padding-bottom: 147px;
  }

  .site-intro__button--wrapper {
    margin-top: 50px;
  }
}

@include breakpoint-down (375px) {
  .site-intro__container {
    padding-left: 0px;
  }

  .site-intro {
    position: relative;
    z-index: 1;
    margin-bottom: 193px;
    background-image: url(../../img/mini-general-section.jpg);
    background-position: center 70px;
    background-repeat: no-repeat;
    background-size: 375px 599px;
  }

  .site-intro__text {
    width: 545px;
    padding-top: 431px;
    padding-bottom: 23px;
  }

  .site-intro__button--wrapper {
    display: none;
  }

  .site-intro__info,
  .site-intro__heading {
    position: absolute;
    z-index: 1;
    top: 680px;
  }

  .site-intro__info {
    text-align: center;
  }

  .site-intro__heading {
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
  }
}