.site-header {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  background-color: #fff;
}

.site-header__container {
  position: relative;
  z-index: 5;
  // background-color: #fff;
}

// white-header
.site-header__white {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.mobile__link {
  display: block;
}

.white-header__mobile {
  width: 196px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile {
  opacity: 1;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.mobile__link {
  display: flex;
  text-decoration: none;
  color: $black;
}

.mobile__icon {
  display: inline-block;
  margin-right: 7px;
  width: 29px;
  height: 29px;
}

.mobile__text {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.mobile__number {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}

.site-header__working-day {
  // width: 196px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.working-day__img {
  display: inline-block;
  margin-right: 7px;
  width: 29px;
  height: 29px;
}

.working-day__open {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: $green;
}

.working-day__clock {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

// blue-header
.site-header__blue {
  position: absolute;
  z-index: 2;
  width: 100%;
  left: 0;
  top: 100px;
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 30px;
  border-radius: 5px;
  background-color: $blue;
}

.site-logo__link {
  display: none;
  width: 140px;
  height: 20px;
}

.site-logo--blue {
  display: none;
  width: 140px;
  height: 20px;
}

.site-logo__social {
  @include reset-list;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.social__iteam ~ .social__iteam {
  margin-left: 13px;
}

.social__link {
  display: block;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.social__img {
  display: inline-block;

  &--vk {
    width: 28px;
    height: 28px;
  }

  &--instagram {
    width: 16px;
    height: 16px;
  }

  &--twitter {
    width: 18px;
    height: 18px;
  }
}

.menu-togler {
  display: none;
	width: 25px;
	height: 18px;
	padding: 0;
	border: none;
	background-color: transparent;
	background-image: url("../../img/hamburger.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
	cursor: pointer;
}

@include breakpoint-down (1024px) {
  .container {
    padding: 0;
  }

  .site-header__white {
    display: none;
  }

  .site-header__blue {
    top: 0;
    height: 68px;
  }

  .site-logo__link {
  display: none;
  width: 140px;
  height: 20px;
}

  .site-logo--blue {
    display: block;
  }
}

@include breakpoint-down (375px) {
  .site-header__blue {
    padding: 24px 20px;
    width: 375px;
  }

  .blue-header__nav {
    display: none;
  }

  .site-logo__social {
    display: none;
  }

  .menu-togler {
    display: block;
  }
}