.site-services__container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.site-services {
  background-image: url(../../img/logo-light.png);
  background-repeat: no-repeat;
  background-position: center 90px;
  background-size: 262px 94px;
}

.site-services__heading {
  margin: 0;
  margin-bottom: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  &::before {
    display: block;
    margin-bottom: 16px;
    width: 50px;
    height: 4px;
    background-color: $orange;
    content: "";
  }
}

.site-services__text {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: $black-light;
}

.site-services__wrapper-list {
  display: flex;
  align-items: center;
  margin-right: 25px;
  margin-left: 25px;
}

.site-services__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.8;
  }
}

.site-services__list {
  @include reset-list;
  padding: 20px 20px 20px 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.services-button__img {
  display: inline-block;
  width: 42px;
  height: 49px;
}

.service__iteam:not(:last-child) {
  margin-right: 34px;
}

.service__iteam {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 240px;
  padding: 30px 60px 24px 60px;
  background: $white;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  &::before {
    display: block;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    content: "";
  }

  &--dental-treatment::before {
    width: 69px;
    height: 68px;
    background-image: url(../../img/dental-treatment.png);
  }

  &--hygiene::before {
    width: 77px;
    height: 66px;
    background-image: url(../../img/hygiene.png);
  }

  &--diagnostics::before {
    width: 69px;
    height: 68px;
    background-image: url(../../img/diagnostics.png);
  }

  &--childrens-dentistry::before {
    width: 73px;
    height: 62px;
    background-image: url(../../img/childrens-dentistry.png);
  }
}

.service__heading {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.service__prices {
  margin: 0;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &::before {
    display: block;
    margin-bottom: 13px;
    width: 25px;
    height: 2px;
    background-color: #0a60c3;
    content: "";
  }
}

.price__old {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.25);
}

.price__current {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #0a60c3;
}

@include breakpoint-down (1024px) {

}

@include breakpoint-down (375px) {
  .site-services__button {
    display: none;
  }
}