.site-intro {
  // background-color: #cfcdcd;
  background-image: url(../../img/general-section.jpg);
  background-position: center 30px;
  background-repeat: no-repeat;
  background-size: 1920px 900px;
  height: 900px;
}

.site-intro__text {
  width: 545px;
  padding-top: 307px;
  padding-bottom: 147px;
}

.site-intro__info {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 21px;
}

.site-intro__heading {
  margin: 0;
  margin-bottom: 27px;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
}

.site-intro__button {
  margin-bottom: 136px;
  padding: 25px 115px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  line-height: 21px;
  color: $white;
  background-color: $blue;
  cursor: pointer;
  transition: opacity 0.3s ease;

  
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.site-intro__next-prev {
  display: flex;
  align-items: center;
}

.site-intro__prev--button {
  border: none;
}

.site-intro__next--button {
  border: none;
}

.site-intro__prev--img {
  display: inline-block;
}

.site-intro__next--img {
  display: inline-block;
}