.site-nav__list {
  @include reset-list;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.site-nav__iteam ~ .site-nav__iteam {
  margin-left: 35px;
}

.site-nav__link {
  text-decoration: none;
  color: $white;
  transition: color 0.3s ease,
  opacity 0.3s ease;

  &:hover {
    color: $orange;
  }

  &:active {
    opacity: 0.6;
  }
}